@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 5px 0;
}

li {
  list-style: none;
}

body {
  background:radial-gradient(ellipse at bottom, #1b2735 50%, #090a0f 100%);
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  margin: auto;
  width: 500px;
  height: calc(100vh - 20px);
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .profile {
  width: 104px;
  margin-bottom: 20px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 99;
  border:2px solid white;
}

.container h2 {
  margin: 0;
  font-size: 18px;
}

.container .subtitle {
  font-size: 14px;
  color: #e3e3e3;
}

.social-media-container {
  display: flex;
  height: 65px;
  width: 223px;
  justify-content: space-around;
  align-items: center;
  background: rgba(200, 200, 255, 0.3);
  border-radius: 50px;
  position: absolute;
  top: -32px;
  left: calc(50% - 111px);
}

.social-media-container a {
  background: #eee;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-container svg {
  color: #2525DD;
  cursor:pointer;
}

.icons{
  margin: 0px 10px 0px 10px;
  color:#191970;
}

.info-container {
  
  background: rgba(255,255,255,.94);
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 0 0;
  position: relative;
  margin-top: 40px;
}

.content {
  padding: 50px 30px 20px;
  width: 100%;
  color: #1C1C1C;
  overflow: hidden;
  position: relative;
}

.playlist-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 16px;
  margin: 20px 0;
}

.playlist-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.link {
  margin: 15px auto;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bcbcbc;
  border-radius: 16px;
  text-decoration: none;
  color: #1C1C1C;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 18px -5px rgba(100, 100, 200, 0.72);
  -moz-box-shadow: 4px 4px 18px -5px rgba(100, 100, 200, 0.72);
  box-shadow: 4px 4px 18px -5px rgba(100, 100, 200, 0.72);
}
.footer{
  text-align: center;
  color: #191970;
}
